In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, split, explode,substring, length
from pyspark.sql.types import DecimalType
from itertools import cycle
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
# spark is an custom SparkSession based on some config to work with Jupyter notebooks
iv = spark.read.csv("hdfs://localhost:9000/user/lavish/data/investments.csv"
                , header='true'
                , inferSchema='true')

In [4]:
startYear=1995
endYear=2015

In [5]:
type(iv)

pyspark.sql.dataframe.DataFrame

In [6]:
iv.schema.names

['company_permalink',
 'company_name',
 'company_category_list',
 'company_country_code',
 'company_state_code',
 'company_region',
 'company_city',
 'investor_permalink',
 'investor_name',
 'investor_country_code',
 'investor_state_code',
 'investor_region',
 'investor_city',
 'funding_round_permalink',
 'funding_round_type',
 'funding_round_code',
 'funded_at',
 'raised_amount_usd']

In [7]:
filteredIV = iv.filter(iv.raised_amount_usd.isNotNull())

In [8]:
from pyspark.sql.types import DoubleType
splittedCategoryIV = filteredIV.select('raised_amount_usd',  substring('funded_at',-4,4).cast('int').alias('year')
                       , split(col("company_category_list")
                       , "[|]s*").alias("categoryArr"))

In [9]:
explodedIV=splittedCategoryIV.select('raised_amount_usd','year', explode('categoryArr').alias('category'))

In [10]:
explodedIV.show(10)

+-----------------+----+-----------+
|raised_amount_usd|year|   category|
+-----------------+----+-----------+
|        2000000.0|2008|Curated Web|
|          41250.0|2014|      Games|
|            2.0E7|2015|  Analytics|
|        3000000.0|2013|  Analytics|
|            2.0E7|2015|  Analytics|
|        1700000.0|2013|  Analytics|
|        8900000.0|2014|  Analytics|
|            2.0E7|2015|  Analytics|
|            2.0E7|2015|  Analytics|
|        8900000.0|2014|  Analytics|
+-----------------+----+-----------+
only showing top 10 rows

In [11]:
explodedIV.createOrReplaceTempView("investments")

In [12]:
sqlDF = spark.sql("SELECT * FROM investments")
sqlDF.show()

+-----------------+----+-----------+
|raised_amount_usd|year|   category|
+-----------------+----+-----------+
|        2000000.0|2008|Curated Web|
|          41250.0|2014|      Games|
|            2.0E7|2015|  Analytics|
|        3000000.0|2013|  Analytics|
|            2.0E7|2015|  Analytics|
|        1700000.0|2013|  Analytics|
|        8900000.0|2014|  Analytics|
|            2.0E7|2015|  Analytics|
|            2.0E7|2015|  Analytics|
|        8900000.0|2014|  Analytics|
|        1700000.0|2013|  Analytics|
|        1700000.0|2013|  Analytics|
|        8900000.0|2014|  Analytics|
|        8900000.0|2014|  Analytics|
|        8900000.0|2014|  Analytics|
|        8900000.0|2014|  Analytics|
|         150000.0|2014|     Mobile|
|        1000050.0|2011|     Mobile|
|        1000050.0|2011|     Mobile|
|         150000.0|2014|     Mobile|
+-----------------+----+-----------+
only showing top 20 rows

### Year Wise

In [13]:
SQLQUERY =  """
            SELECT CATEGORY, 
            CAST(YEAR AS INT), 
            SUM(RAISED_AMOUNT_USD) AS TOTAL, 
            CAST(SUM(RAISED_AMOUNT_USD) AS DECIMAL(30)) AS TOTAL_DEC 
            FROM INVESTMENTS GROUP 
            BY CATEGORY, YEAR 
            """
#  ORDER BY YEAR DESC, TOTAL DESC

In [14]:
sqlDF = spark.sql(SQLQUERY)
sqlDF.show()

+--------------------+----+-----------------+----------+
|            CATEGORY|YEAR|            TOTAL| TOTAL_DEC|
+--------------------+----+-----------------+----------+
|      Interest Graph|2011|           3.28E7|  32800000|
|           Insurance|2015|  5.70529580149E9|5705295801|
|  Big Data Analytics|2013|     2.35683979E9|2356839790|
|           Aerospace|2014|4.6013734510098E8| 460137345|
|               Audio|2005|          1.058E8| 105800000|
|Cloud Infrastructure|2010|     1.38360796E8| 138360796|
|    Cloud Management|2010|         5.4528E8| 545280000|
|                Apps|2008|   6.3178257004E8| 631782570|
| Insurance Companies|2015|    1.523851749E7|  15238517|
|    Mobile Analytics|2010|          4.205E7|  42050000|
|          Networking|2009|     5.39435025E8| 539435025|
|               Local|2010|     1.50161942E8| 150161942|
|Information Techn...|2000|     6.25112115E8| 625112115|
|       Home & Garden|2007|         5.0605E8| 506050000|
|        Ad Targeting|2010|       4.191857E8| 419185700|
|Communications Ha...|2011|         5.5758E8| 557580000|
|            Creative|2012|     1.65391911E8| 165391911|
|               Women|2011|     1.00048667E8| 100048667|
|      K-12 Education|2011|     1.81926358E8| 181926358|
|   Online Scheduling|2012|         9.5505E7|  95505000|
+--------------------+----+-----------------+----------+
only showing top 20 rows